body {
  background-color: #eef;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  background-color: #ddf;
  margin-top: 0px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top {
  padding-left: 10px;
}

#canvas_pos {
  margin-left: 15px;
  margin-right: 20px;
}

button {
  margin-left: 10px;
}

.manual {
  margin-left: 10px;
}